---
layout: default
---

<article>
    <span class="font-italic pdc-text-turquoise-dark">{{ page.date | date: "%B %e, %Y" }}</span>
    <header><h1>{{ page.title }}</h1></header>
    <div class="pdc-article-text">
        {{ content }}
    </div>
    <hr>
</article>
<p><b><i>By {{ page.author }}</i></b></p>

<aside class="social-share">
    <h5>Share this post:</h5>
    <ul>
        <li><a href="https://twitter.com/intent/tweet?url={{ site.url | cgi_escape  }}{{ page.url | cgi_escape }}&text={{ page.title | cgi_escape }}" title="Share on Twitter">Twitter</a></li>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&src=sdkpreparse" title="Share on Facebook">Facebook</a></li>
    </ul>
</aside>

{% if page.dzone or page.medium %}
    <aside>
        <p>
            Republished on:
            {% if page.dzone %}<a href="{{ page.dzone }}">DZone</a>{% endif %}{% if page.dzone and page.medium %}, {% endif %}{% if page.medium %}<a href="{{ page.medium }}">Medium</a>{% endif %}
        </p>
    </aside>
{% endif %}

<div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'purpledevcat';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
